#score {
  font-size: 3em;
  font-family: "Arial Black";
  color: red;
  text-shadow: 3px 3px 2px black;
  position: absolute;
  right: 15%;
  top: 40%;
  z-index: 250;
}
#play {
  font-size: 5em;
  font-family: "Arial Black";
  color: red;
  text-shadow: 3px 3px 2px black;
  position: absolute;
  left: 42%;
  top: 33%;
}
#play:hover {
  color: orangered;
  text-shadow: none;
}
