/*** CONFIGURATION WINDOW ***/
#config-button {
  background-color: greenyellow;
  background-image: linear-gradient(to bottom, yellowgreen, green);

  border: 3px solid #224400;
  padding: 0.5%;
}

#game-config {
  background-color: green;
  background-image: linear-gradient(to bottom, yellowgreen, green);

  border: 3px solid #224400;
  padding: 0.5%;

  height: 500px;
  width: 25%;
  z-index: 500;
}

#game-config > h1 {
  background-image: linear-gradient(
    to right,
    rgba(200, 200, 200, 0),
    rgb(18, 110, 0),
    rgba(200, 200, 200, 0)
  );
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: bottom center;

  padding: 2%;
  padding-left: 4%;
  margin-bottom: 2%;

  font-size: 1.25em;
}

.config-section > h2 {
  background-image: linear-gradient(
    to right,
    rgba(200, 200, 200, 0),
    rgb(22, 130, 0),
    rgba(200, 200, 200, 0)
  );
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom center;

  padding: 1.5%;
  padding-left: 7%;
  margin-bottom: 1.5%;

  font-size: 1em;
}

.config-box {
  display: flex;
  display: -webkit-flex;

  justify-content: space-between;

  font-size: 1rem;
}

.config-input {
  width: 50%;
  height: 1rem;
  font-size: 1rem;
}
/*** CONFIGURATION WINDOW ***/
