#level-selector {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, black, transparent);

  min-height: 400px;
}
#level-selector > h1 {
  font-size: 2rem;
  padding: 1%;

  color: white;
}
#selector-window {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.level-button {
  background-color: greenyellow;
  border: 2px solid green;
}
