<!DOCTYPE html>
<html>

<head>
	<title>Batata Bross</title>
	<link rel="icon" href="img/icon.png">
	<meta charset="utf-8">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/batata_bross.css">
	<link rel="stylesheet" href="css/title-screen.css">
	<link rel="stylesheet" href="css/config.css">
	<link rel="stylesheet" href="css/game.css">
	<link rel="stylesheet" href="css/lv-selector.css">
	<link rel="stylesheet" href="css/index.css">

	<script src="game/js/phaser.min.js"></script>
	<script src="src/libs/vue.js"></script>
</head>

<body>
	<span id="title-screen" v-if="show">
		<h1>Batata Bross</h1>

		<input type="button" value="Start" onClick="titleScreen.toggle()">
	</span>

	<main>
		<p id="play">Play</p>
		<p id="score"></p>
		<p id="next"></p>

		<div id="level-selector">
			<h1>Choose One Level: </h1>
			<div id="selector-window">
				<input class="level-button" type="button" value="1" onClick="">
			</div>

		</div>

		<aside id="config-window">
			<input id="config-button" type="button" value="Configuration" onClick="gameConfig.toggle()">
			<aside id="game-config" v-show="show">
				<h1>Game Configuration</h1>
				<section class="config-section">
					<h2>Window</h2>
					<div class="config-box">
						<h3>Width: </h3>
						<input class="config-input" type="number" placeholder="Type a Number" v-model="width" v-on:input="$emit('input', $event.target.value)">
					</div>
					<div class="config-box">
						<h3>Height: </h3>
						<input class="config-input" type="number" placeholder="Type a Number" v-model="height" v-on:input="$emit('input', $event.target.value)">
					</div>
				</section>
			</aside>
		</aside>



	</main>

	<div id="container"></div>

	<script src="game/js/Main-Level1.js"></script>
	<script src="game/js/Level2.js"></script>
	<script src="src/components/menu.js"></script>
	<script src="src/components/config.js"></script>
	<script src="src/components/title.js"></script>
</body>

</html>